.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: #c2185c33;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;

    span {
    font-size: 24px;
    margin-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    }

    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
}

.player-active {
    background-color: #c2185c !important;
}