.profile-picture {
    width: 100px;
    height: 100px;
    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }
}

.selected-image {
    opacity: 0.6;
    border: 2px solid #2196F3;
    border-radius: 50px;
}
