<h1 mat-dialog-title>Edit Player</h1>




<img 
    class="profile-picture" 
    [class.selected-image]="selectedImage === picture"
    (click)="selectedImage = picture" 
    *ngFor="let picture of allProfilePictures" 
    src="assets/img/{{ picture }}">

<div class="player-name-edit">
  <mat-form-field appearance="fill">
      <mat-label>Player Name</mat-label>
      <input matInput [(ngModel)]="playerName" [placeholder]="playerName">
  </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="saveChanges()">Edit</button>
    <button mat-button color="warn" [mat-dialog-close]="'DELETE'" cdkFocusInitial>Delete</button>
</div>
